<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
    <title>Contact Form</title>
  </head>
  <body>
    <div class="navbar">
      <a routerLink="/home" routerLinkActive="active">Home</a>
     
      <div class="dropdown">
        <button class="dropbtn">Covid info
          <!-- <i class="fa fa-caret-down"></i> -->
        </button>
        <div class="dropdown-content">
          <a routerLink="/guide" routerLinkActive="active">Covid guidelines</a>
          <a routerLink="/symptoms" routerLinkActive="active">Covid symptoms</a>
          <a routerLink="/cure" routerLinkActive="active">Covid precautions and cure</a>
          
        </div>
      </div>
      <a routerLink="/aboutus">About</a>
      <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
      <a (click)="logout()" >Log Out</a>
    </div>
  <br>
    <section>
    <div class="container">
      <div class="contactinfo">
        <div>
          <h2>Contact Info</h2>
          <ul class="info">
            <li>
              <span><i class="fa fa-map-marker" style="font-size:36px"></i></span>
                <span>Pratap Nagar,Airport Road,Udaipur</span>
            </li>
            <li>
              <span><i class="fa fa-phone" style="font-size:36px"></i> </span>
                <span>011-76749683</span>
            </li>
            <li>
              <span><i class="fa fa-envelope" style="font-size:36px"></i></span>
                <span>biogradesupport@gmail.com</span>
            </li>
           
          </ul>
          <!-- <ul class="sci">
            <li>
             
               
            </li>
            <li>
              <i class="fab fa-google" ></i>
               
            </li>
            <li>
              <i class="fab fa-twitter" ></i>
                
            </li>
            <li>
              <i class="fab fa-instagram" ></i>
                
            </li>
            
          </ul> -->
        </div></div>
        <div class="contactForm">
         
            <h2><b>GET IN TOUCH</b></h2>
               <h2>We would love to hear from you!!!</h2><br><br><br>
               <form ngNativeValidate (ngSubmit)="addContact(memberObject)" #memberObject="ngForm">
            <div class="formBox">
              <div class="inputBox w50">
              
          
                <input type="text" #FirstName="ngModel" ngModel name="FirstName" required>
                <span>First Name</span>
           </div>
           <div class="inputBox w50">
           
            <input type="text" #LastName="ngModel" ngModel name="LastName" required>
            <span>Last Name</span>
       </div>
       <div class="inputBox w50">
       
        <input type="email" #Email="ngModel" ngModel name="Email" required>
        <span>Email Address</span>
   </div>
   <div class="inputBox w50">
   
    <input type="text" #Contact="ngModel" ngModel name="Contact" required>
    <span>Mobile Number</span>
</div>
   <div class="inputBox w100">
   
    <input type="textarea" #Message="ngModel" ngModel name="Message" required>
    <span>Message</span>
</div>

  <div class="inputBox w100">
    <input type="submit" value="SUBMIT">
  </div>


           </div>
          </form>
       </div>
      
    </div>
  </section>
  </body>
</html>