<!DOCTYPE html>
<html>
<head>
	<title>Cards</title>
	<!-- <link rel="stylesheet" type="text/css" href="rules.css"> -->
</head>
<body>
	
	
	<div class="main">
		
		<!-- <div class = "space">
			<ul>
    		<li><a href="#">Home</a></li>
   			 <li><a href="#">News</a></li>
    		<li><a href="#">Contact</a></li>
  		  	<li><a href="#">About</a></li>
  			</ul>
  			<br>



			


			
			
			
			


		</div> -->
		<div class="navbar">
			<a routerLink="/home" routerLinkActive="active">Home</a>
		   
			<div class="dropdown">
			  <button class="dropbtn">Covid info
				<i class="fa fa-caret-down"></i>
			  </button>
			  <div class="dropdown-content">
				<a routerLink="/guide" routerLinkActive="active">Covid guidelines</a>
				<a routerLink="/symptoms" routerLinkActive="active">Covid symptoms</a>
				<a routerLink="/cure" routerLinkActive="active">Covid precautions and cure</a>
				
			  </div>
			</div>
			<a href="#about">About</a>
			<a routerLink="/contact" routerLinkActive="active">Contact Us</a>
			<a routerLink="/login" routerLinkActive="active" >Log Out</a>
		  </div>
		  <br>
	<div class="cards">
		<div class="image">
			<img src="/assets/wearmask4.jpg">
			

		</div>

		<div class="title">
			<h1>
			    Wear Mask
			</h1>
			
	
	</div>


	</div>


	<div class="cards">
		<div class="image">
			<img src="/assets/vaccinated4.png">
			

		</div>

		 <div class="title">
			<h1>
				Get Vaccinated
			</h1>
			
		 </div>
		<!-- <div class="description">
			<p>Find the vaccines you need!</p>
			<button >Check Availability</button>
			 --> 

		</div>
		 

	<div class="cards">
		<div class="image">
			<img src="/assets/stayhome4.jpg">
			

		</div>

		 <div class="title">
			<h1>
				Stay Home
			</h1>
			
		</div>
		<!-- <div class="description">
			<p>Find beds in the nearby hospitals!</p>
			<button >Check Availability</button> --> 
			

		</div>
		


	<div class="cards">
		<div class="image">
			<img src="/assets/sanitize4.jpg">
		</div>
			 <div class="title">
			<h1>
				Sanitize
			</h1>
			
		</div>
			

		</div>

		
		


	



	

	<div class="cards">
		<div class="image">
			<img src="/assets/distance4.png">
			

		</div>

		 <div class="title">
			<h1>
				Social Distancing
			</h1>
			
		</div>

		

	</div>
	<div class="cards">
		<div class="image">
			<img src="/assets/touch4.jpg">
			

		</div>

		 <div class="title">
			<h1>
				Don't Touch Face
			</h1>
			
		</div>

		

	</div>


</div>

</body>
</html>