<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>
<body>
  <div class="navbars">
    <a routerLink="/home" routerLinkActive="active">Home</a>
   
    <div class="dropdown">
      <button class="dropbtn">Covid info
        <!-- <i class="fa fa-caret-down"></i> -->
      </button>
      <div class="dropdown-content">
        <a routerLink="/guide" routerLinkActive="active">Covid guidelines</a>
        <a routerLink="/symptoms" routerLinkActive="active">Covid symptoms</a>
        <a routerLink="/cure" routerLinkActive="active">Covid precautions and cure</a>
        
      </div>
    </div>
    <a href="#about">About</a>
    <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
    <a (click)="logout()" >Log Out</a>
  </div>

 <header><h1>Hospitals where you can get Plasma</h1></header>
    <main>
  <ol class="gradient-list" >
    <li (click)="onClick(indexOfelement)" *ngFor="let item of member.needplasma; let indexOfelement=index;">{{member.needplasma[indexOfelement].Name}},  {{member.needplasma[indexOfelement].City}}</li>
    <!-- <li>Geetanjali hospital Udaipur</li>
    <li>Madhuban hospital Udaipur</li>
    <li>ESI Hospital Udaipur</li>
    <li>Shelby Hospital Jaipur</li>
    <li>JK Hospital Ajmer</li>
    <li>MB Government Hospital Jaipur</li>
    <li>Mother Hospital Jaipur</li>
    <li>Dhirubhai Hospital Bikaner</li>
    <li>Modi Hospital Ahmedabad</li>
    <li>Kothari hospital Bhilwara</li>
    <li>Ganga Hospital Ajmer</li>
    <li>Pacific Hospital Udaipur</li>
    <li>Rajpoot hospital Mt. Abu</li>
    <li>Gujarat Hospital Sanand</li>
    <li>Tiwari hospital Udaipur</li>
    <li>Patwari Hospital Udaipur</li>
    <li>Hardik Hospital Jaipur</li>
    <li>Vanawat Hospital Bhilwara</li>
    <li>Ashish Hospital Ajmer</li>
    <li>Fateh Hospital Mt. Abu</li> -->
    <!--<li>Sed id felis mollis, bibendum orci a, condimentum augue.</li>
    <li>Etiam eleifend ipsum nec nibh aliquam, non commodo risus eleifend.</li>
    <li>Curabitur in ipsum eget lacus blandit maximus in at sem.</li>
    <li>Curabitur sagittis ante nec libero maximus, ut imperdiet elit egestas.</li>
    <li>Proin congue felis sed ultrices elementum.</li>
    <li>Duis sit amet velit et lectus eleifend interdum non quis ex.</li>
    <li>Praesent congue lectus a felis pharetra malesuada.</li>
    <li>Sed vel mauris condimentum, egestas dolor eu, porttitor nisl.</li>
    <li>Donec sed elit tincidunt, accumsan magna sed, facilisis libero.</li>
    <li>Curabitur vel purus quis justo placerat euismod mollis ac arcu.</li>
    <li>Sed eget mi et justo luctus mollis ut non augue.</li>
    <li>Suspendisse sit amet lectus et magna euismod tempor.</li>
    <li>Vestibulum accumsan velit et ipsum pellentesque, vitae ultricies erat blandit.</li>
    <li>Pellentesque vel dolor ac risus efficitur convallis.</li>
    <li>Maecenas feugiat quam at facilisis dapibus.</li>
    <li>Cras commodo leo sit amet lacus lacinia, eget rutrum sem sodales.</li>
    <li>Ut sit amet risus finibus, iaculis lectus sit amet, varius lectus.</li>
    <li>Duis dignissim elit eget erat maximus luctus.</li>-->
  </ol>
</main>
</body>
</html>