<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <!-- <link rel="stylesheet" href="css/main.css"> -->
    </head>
    <body>
      <div class="row">
    <div class="col-md-12">
      <br>
      <form ngNativeValidate (ngSubmit)="adddistributor(memberObject)" #memberObject="ngForm">
        <h1> Register as Distributor </h1>
       
        <fieldset>
          
          <legend><span class="number">1</span> Firm Details </legend>
        
          <label for="name">Name:</label>
          <input required minlength="6" #Name="ngModel" ngModel type="text" id="name" name="Name">

           
          <label for="email">City:</label>
          <input required type="text" #City="ngModel" ngModel id="mail" name="City">

           
          <label for="email">Address:</label>
          <textarea required id="bio" #Address="ngModel" ngModel name="Address"></textarea>
          <!-- <input type="email" id="mail" name="user_email"> -->
       

          <label>Medicines Available:</label>
          <input type="checkbox" (change)="checkCheckBoxValue($event)" id="development" value="Favipiravir-Tablets" name="user_interest"><label class="light" for="development">Favipiravir Tablets</label>         
          <input type="checkbox" (change)="checkCheckBoxValue($event)" id="design" value="Azithromycin" name="user_interest"><label class="light" for="design">Azithromycin</label>
          <input type="checkbox" (change)="checkCheckBoxValue($event)" id="business" value="Paracetamol" name="user_interest"><label class="light" for="business">Paracetamol</label>
          <br>
          <input type="checkbox" (change)="checkCheckBoxValue($event)" id="develop" value="Zinc-Tablets" name="user_interes"><label class="light" for="development">Zinc Tablets</label>         
          <input type="checkbox" (change)="checkCheckBoxValue($event)" id="desig" value="Vitamin-C" name="user_interes"><label class="light" for="design">Vitamin C</label>
          <input type="checkbox" (change)="checkCheckBoxValue($event)" id="busines" value="Remdesivir"  name="user_interst"><label class="light" for="business">Remdesivir</label>
          <br>
          <input type="checkbox" (change)="checkCheckBoxValue($event)" id="develo" value="Doxycycline-Capsule" name="user_intere"><label class="light" for="development">Doxycycline Capsule</label>         
          <input type="checkbox" (change)="checkCheckBoxValue($event)" id="desi" value="Ivermectin-Tablets" name="user_intere"><label class="light" for="design">Ivermectin Tablets</label>
          <!-- <input type="checkbox" (change)="checkCheckBoxValue($event)" id="busine" value="All-Medicines" name="user_inters"><label class="light" for="business">All Medicines</label> -->
          <br>
          <br><br>

          <label for="email">Estimated Minimum Stock of Medicines:</label>
          <input required type="number"  #MinStock="ngModel" ngModel id="mailwe" name="MinStock">
        
          <!-- <label>Age:</label>
          <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">Under 13</label><br>
          <input type="radio" id="over_13" value="over_13" name="user_age"><label for="over_13" class="light">Over 13</label>
           -->
        </fieldset>
        <fieldset>  
        
          <legend><span class="number">2</span> Contact Details</legend>
          
          <label for="email">Email:</label>
          <input required type="email"  #Email="ngModel" ngModel id="mail" name="Email">
        
          <label for="bio">Contact Number:</label>
          <input required minlength="10" pattern="[0-9]{10}"  #Contact="ngModel" ngModel type="tel" id="Contact"  #Contact="ngModel" ngModel name="Contact" autocomplete="off">
         
          <label for="bio">Other Contact Number:</label>
          <input required  minlength="10" pattern="[0-9]{10}" #ContactTwo="ngModel" ngModel type="tel" id="ContactTwo"  #ContactTwo="ngModel" ngModel name="ContactTwo" autocomplete="off">
       
        
       
<!--         
         <label for="job">Job Role:</label>
          <select id="job" name="user_job">
            <optgroup label="Web">
              <option value="frontend_developer">Front-End Developer</option>
              <option value="php_developer">PHP Developer</option>
              <option value="python_developer">Python Developer</option>
              <option value="rails_developer">Rails Developer</option>
              <option value="web_designer">Web Designer</option>
              <option value="wordpress_developer">Wordpress Developer</option>
            </optgroup>
            <optgroup label="Mobile">
              <option value="android_developer">Android Developer</option>
              <option value="ios_developer">IOS Developer</option>
              <option value="mobile_designer">Mobile Designer</option>
            </optgroup>
            <optgroup label="Business">
              <option value="business_owner">Business Owner</option>
              <option value="freelancer">Freelancer</option>
            </optgroup>
          </select> -->
          
          <!-- <label>Interests:</label>
          <input type="checkbox" id="development" value="interest_development" name="user_interest"><label class="light" for="development">Development</label><br>
          <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Design</label><br>
          <input type="checkbox" id="business" value="interest_business" name="user_interest"><label class="light" for="business">Business</label>
           -->
         </fieldset>
       
        <button type="submit">Register</button>
        
       </form>
       <br>
        </div>
      </div>
      
    </body>
</html>

