<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

</head>
 <section class="service-grid pb-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-4">
                <div class="service-title">
                    <h2>Donor ineligible for convalescent Plasma donation</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                    <div class="service-icon">
                        <i class="bi bi-x-circle"></i>
                    </div>
                    <h4>Weight Less than 50 kg</h4>
                    <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                    <a href="#">Read More</a> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                    <div class="service-icon">
                        <i class="bi bi-person-plus-fill"></i>
                    </div>
                    <h4>Females who have ever been pregnant</h4>
                    <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                    <a href="#">Read More</a> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                    <div class="service-icon">
                        <i class="bi bi-bag-plus"></i>
                    </div>
                    <h4>Diabetic on insulation</h4>
                    <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                    <a href="#">Read More</a> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                    <div class="service-icon">
                        <i class="bi bi-arrow-down-up"></i>
                    </div>
                    <h4>B.P. more than 140, diastolic less than 60 or more than 90</h4>
                    <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                    <a href="#">Read More</a> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                    <div class="service-icon">
                        <i class="bi bi-segmented-nav"></i>
                    </div>
                    <h4>Diabetes or Hypertension with change in medication in last 28 days</h4>
                    <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                    <a href="#">Read More</a> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center mb-3">
                <div class="service-wrap">
                    <div class="service-icon">
                        <i class="bi bi-check2-circle"></i>
                    </div>
                    <h4>Cancer survivor or Chronic diseased</h4>
                    <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                    <a href="#">Read More</a> -->
                </div>
            </div>
        </div>
        <button type="submit" (click)="back()" class="submit-btn">Go Back</button>
    </div>
</section>
