@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
h3{
    text-align: center;
    font-size: 50px;
}
body {
  background: floralwhite;
  min-height: 97vh;
  width: 100%;
//   display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  height: 360px;
  background: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);
  margin: 40px 30px;
  padding: 5px;
  position: relative;
  transition: 0.5s;
}

.card:hover {
  transform: translatey(-20px);
  cursor: pointer;
}

.card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  filter: blur(30px);
}

.card:nth-child(1)::before,
.card:nth-child(1) {
  background: linear-gradient(315deg, #d5d5f7 0%, #2ca6ec 74%);
}

.card:nth-child(2)::before,
.card:nth-child(2) {
  background: linear-gradient(315deg, #d5d5f7 0%, #2ca6ec  74%);
}


.card span {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.content {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(0, 0, 0, 0.05) 50%
  );
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 40px 20px;
}

.content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 30px;
    text-align: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(315deg,#96c8fb 0%,#ddbdfc 74%);
}
.content p {
  margin-bottom: 20px;
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  justify-content: center;
  text-align: center;
}

.content a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background: #fff;
  color: #121214;
  padding: 10px 5px;
  font-weight: 600;
}
