<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
  <br>
<div><h1>Who are you!!</h1></div>
<br>
<br>
<div class="container">
  <!-- <h1>Who are you!!</h1> -->
    <div class="card">
      <span></span>
      <div (click)="distributors()" class="content">
        <h2>Distributors</h2>
        
        <p>Register your firm to Bio-Brigade for essential COVID-19 medicines</p>
        <h3><i class="bi bi-bank"></i></h3>
        <!-- <a href="#">Read More</a> -->
      </div>
    </div>
  
    <div class="card">
      <span></span>
      <div (click)="hospitals()" class="content">
        <h2>Hospitals</h2>
        <p>Register your hospital to Bio-Brigade for COVID-19 healthcare facilities</p>
        <h3><i class="bi bi-bag-plus-fill"></i></h3>
        <!-- <a href="#">Read More</a> -->
      </div>
    </div>
  </div>
</body>